PUBLIC_KEY=
PRIVATE_KEY=
RPC_ENDPOINT=https://sepolia.infura.io/v3/<api-key>
RPC_WEBSOCKET_ENDPOINT=wss://sepolia.infura.io/ws/v3/<api-key>
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
FLASHBOT_ENDPOINT=https://relay-sepolia.flashbots.net